<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toron">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Debate.Debate_chat_img"></activity>
        <activity android:name=".Debate.Debate_SelectSide"></activity>
        <activity android:name=".News.Search_news" />
        <activity android:name=".News.News_detail" />
        <activity android:name=".Mypage.Change_phonenum" />
        <activity android:name=".Mypage.Change_password" />
        <activity android:name=".Mypage.Profile_setting" />
        <activity android:name=".Mypage.Mypage_main" />
        <activity android:name=".Login.Term" />
        <activity android:name=".Login.Find_password" />
        <activity android:name=".Login.Find_id_Activity" />
        <activity android:name=".Login.Find_account" />
        <activity android:name=".Login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.Join" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Debate.Debate_make" />
        <activity
            android:name=".Debate.Debate_room"
            android:launchMode="singleTop"
            android:parentActivityName=".Main.Mainpage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Mainpage" />
        </activity>
        <activity
            android:name=".Main.Mainpage"
            android:launchMode="singleTop"></activity>

        <service
            android:name=".Service.RemoteService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Service.RestartService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".Service.AlarmReceiver" />
        <receiver
            android:name=".Service.RebootRecever"
            android:enabled="true"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>